@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
.prioridad {
  font-size: .9em;
  line-height: .7;
  i{
    display:block;
    font-size: .8em;
  }
}
.oi {
  color: $gray-400;
}
.resaltada {
  color:$primary;
}
.fueralimites {
  pointer-events: none;
}
.oi:hover{
  cursor:pointer;
}
